<!DOCTYPE html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--Browser Bar Name-->
        <title>HKSTP</title>
        <!--Browser Bar Favicon Image-->
        <link rel="icon" href="../images/browserfavicon.ico">
        <!--Link to .css file-->
        <link rel="stylesheet" href="../css/testLayout.css" />
    </head>
    <body>
        <header>
            <img class="tech-box" src="../images/front_tech.png">
            <p class="heading1">A Real-time Air Quality Monitoring System</p>
            <p class="heading2">Where Innovation Meets Quality Design</p>
            <div class="time"></div>
            <div class="navBar">
                <navBarHome>Home</navBarHome> 
                <navBarUs>About us</navBarUs>
                <navBarAir>Air Quality Monitoring</navBarAir>
                <div class="dropdown">
                    <div class="dropbtn", id = "navBarHistory">
                        History Monitoring
                    </div>
                    <div class="dropdown-content">
                        <span class = "node">node1</span>
                        <span class = "node">node2</span>
                        <span class = "node">node3</span>
                        <span class = "node">node4</span>
                    </div>
                </div>     
            </div>     
        </header>
        <div class="mainbox">
            <div class="column1">
                <div class="panel">
                    <div class="panel-footer"></div>
                </div>
                <div class="panel">
                    <div class="panel-footer"></div>
                </div>
                <div class="panel">
                    
                <div class="panel-footer"></div>
                </div>
                
                
            </div>
            <div class="column2">
                <div class="panel">
                    <div class="panel-footer"></div> 
                </div>
                
            </div>
            <div class="column3">
                <div class="panel">
                    <div class="panel-footer"></div>
                </div>
                
            </div>
        </div>
        
    </body>
</html>