<!DOCTYPE html>
  <head>
    <!--Set Encoding Format-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Browser Bar Name-->
    <title>HKSTP</title>
    <!--Link to Browser Bar Favicon Image-->
    <!--rel 可以是任何值，主要是说明后面的href是什么作用-->
    <link rel="icon" href="../images/browserfavicon.ico">
    <!--Link to .css file-->
    <link rel="stylesheet" href="../css/testDropdown.css" />
  </head>

  <body>
  <header>
    <img class="tech-box" src="../images/front_tech.png">
    <p class="heading1">A Real-time Air Quality Monitoring System</p>
    <p class="heading2">Where Innovation Meets Quality Design</p>
    <div class="time"></div>
    <div class="navBar">
        <navBarHome>Home</navBarHome> 
        <navBarUs>About us</navBarUs>
        <navBarAir>Air Quality Monitoring</navBarAir>
        <div class="dropdown">
          <div class="dropbtn" id="navBarHistory">History Monitoring</div>
          <div class="dropdown-content">
            <span class="node">F1</span>
            <span class="node">F2</span>
            <!-- <a href="https://www.youtube.com/" class="node">node3</a> -->        
          </div>
      </div>
    </div> 
    </header>      
  </body>
</html>