<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--Browser Bar Name-->
        <title>HKSTP</title>
        <!--Browser Bar Favicon Image-->
        <link rel="icon" href="../images/browserfavicon.ico">
        <!--Link to .css file-->
        <link rel="stylesheet" href="../css/testScroll.css" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>单位</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
                <tr>
                    <td>刘媛媛</td>
                    <td>20</td>
                    <td>百度</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
