<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Table Test</title>
        <link rel="stylesheet" href="../css/testTable.css" />
    </head>
    <body>
        <table>
          <!--border means 表格边沿厚度-->
          <!--cell padding means 上下左右空出10px-->
          <!--Table Establishment: 5 rows 3 columns -->
            <thead>
              <tr id="tableHeader">   <!--tr表示一行，里面的td表示这一行里的一个列元素-->
                <td>Ranking</td>
                <td>Position</td>
                <td>Gas Concentration</td>
              </tr>
            </thead>
            <tbody id="tableBody">
              <tr>
                <td>1st</td>
                <td id="pos1st">loading...</td>
                <td id="con1st_data">loading...</td>
              </tr>
              <tr>
                <td>2nd</td>
                <td id="pos2nd">loading...</td>
                <td id="con2nd_data">loading...</td>
              </tr>
              <tr>
                <td>3rd</td>
                <td id="pos3rd">loading...</td>
                <td id="con3rd_data">loading...</td>
              </tr>
              <tr>
                <td>4th</td>
                <td id="pos4th">loading...</td>
                <td id="con4th_data">loading...</td>
              </tr>
              <tr>
                <td>4th</td>
                <td id="pos4th">loading...</td>
                <td id="con4th_data">loading...</td>
              </tr>
              <tr>
                <td>4th</td>
                <td id="pos4th">loading...</td>
                <td id="con4th_data">loading...</td>
              </tr>
            </tbody>
        </table>
    </body>
</html>