<!DOCTYPE html>
    <head>  
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Real-time Test</title>
        <!--<link rel="stylesheet" href="../css/style.css" />-->
    </head>
    <body>
        <header>
            <div class="time">
                <script src="../js/time/time.js">
                </script>   
            </div>
        </header>
        <input type="button" onclick="alerttest()" value="显示警告框" />
        <script>
            function alerttest(){
             alert("ABC");
            }
        </script>
        <script src="../testFunctioncall.js">

        </script>
    </body>
    
</html>